.card {
  height: 100%;
  &-body {
    display: flex;
    flex-direction: column;
  }

  &-title a {
    color: #2a2c22;
  }
  &-text {
    text-align: justify;
    font-size: 0.9rem;
  }
  &-tag {
    margin-right: 7px;
    cursor: pointer;
  }
  &-voices {
  }
}
